:root {
  --main-color-text: #212121;
  --second-color-text: #757575;
  --background-color: #f5f5f5;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --background-second-color: #2f303a;
  --logo-color: #000000;
  --border: #eeeeee;
  --section-bg: #f5f4fa;
  --adress-color: rgba(255, 255, 255, 0.6);
  --line-color: #ececec;
  --button-second-color: #188ce8;
  --social-network-color: #afb1b8;
  --transition-time: cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", "San-serif";
  color: var(--main-color-text);
  background-color: var(--hero-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 2px solid tomato;*/
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--hero-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.head {
  border-bottom: 1px solid #ececec;
}

.head__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .head__container {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
  }
}

.navigation__span {
  color: #000000;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;
  /*display: none;*/
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.menu__nav-link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.menu__nav-link:hover, .menu__nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
}

.heder-contacts {
  /*display: flex;
  flex-direction: column;
  align-items: start;*/
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .heder-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .heder-contacts {
    flex-direction: row;
    gap: 40px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.contacts__mail-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.contacts__mail-icon:hover, .contacts__mail-icon:focus {
  fill: var(--accent-color);
}

.contacts__phone-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.contacts__phone-icon:hover, .contacts__phone-icon:focus {
  fill: var(--accent-color);
}

.menu-open {
  width: 40px;
  height: 40px;
  background-color: var(--hero-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-open-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}

.menu-open:focus .menu-open-icon,
.menu-open:hover .menu-open-icon {
  fill: var(--accent-color);
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--hero-color);
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.menu-close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}

.menu-close:focus .menu-close-icon,
.menu-close:hover .menu-close-icon {
  fill: var(--accent-color);
}

.mob-menu-list {
  margin-bottom: auto;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--accent-color);
}

.current-mobile {
  color: var(--accent-color);
}

.contacts-mob {
  margin-bottom: 64px;
}

.contacts-mob__tel {
  margin-bottom: 32px;
}

.contacts-tel__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contacts-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}

.soc-menu {
  display: flex;
  gap: 30px;
}

.soc-menu-list {
  position: relative;
}

.soc-menu-list:not(:first-child)::before {
  position: absolute;
  bottom: 11px;
  left: -26px;
  content: "";
  width: 22px;
  height: 0px;
  border-radius: 2px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  transform: rotate(90deg);
}

.soc-menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  align-items: center;
  justify-content: center;
}

.hero-part {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: var(--gradient), url(../images/hero-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-part {
    background-image: var(--gradient), url(../images/hero-mob2x.jpg);
    height: 400px;
    padding: 118px 0;
  }
}
@media screen and (min-width: 768px) {
  .hero-part {
    background-image: var(--gradient), url(../images/hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-part {
    background-image: var(--gradient), url(../images/hero-tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-part {
    background-image: var(--gradient), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-part {
    background-image: var(--gradient), url(../images/hero2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  max-width: 360px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  min-width: 216px;
  padding: 10px 32px;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-second-color);
}

.feature__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature__svg-container {
  display: flex;
  background-color: var(--section-bg);
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__head {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-text);
  font-size: 14px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .feature__head {
    text-align: left;
  }
}

.feature__content {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-color-text);
}

.feature__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 90px) / 4);
  }
}

.projects.section {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .projects.section {
    display: none;
  }
}

.projects__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(-main-color-text);
  margin-bottom: 50px;
}

.projects__list {
  display: flex;
  gap: 30px;
}

.projects__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.projects__overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  background: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color-text);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team__item {
  width: 100%;
  background: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__link {
  width: 100%;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-color-text);
  margin-bottom: 10px;
}

.team__post {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color-text);
}

.soc-link {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__internet-link {
  fill: var(--social-network-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.social__internet-link:hover, .social__internet-link:focus {
  fill: var(--hero-color);
  background-color: var(--accent-color);
}

.brands__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color-text);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .brands__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.brands__item {
  /* width: calc((100% - 150px) / 6);*/
  height: 90px;
}
@media screen and (min-width: 480px) {
  .brands__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .brands__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .brands__item {
    width: calc((100% - 150px) / 6);
  }
}

.brands__link {
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--social-network-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.brands__link:hover, .brands__link:focus {
  color: var(--accent-color);
}

.brands__icon {
  fill: currentColor;
}

.footer-part {
  background: var(--background-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .foot__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .foot__container {
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.foot__block {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .foot__block {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .foot__block {
    margin-right: 94px;
    margin-bottom: 0;
    text-align: left;
  }
}

.foot__footer-logo {
  margin-bottom: 28px;
  display: inline-block;
}

.foot__logo-span {
  color: var(--hero-color);
}

.adress__item:not(:last-child) {
  margin-bottom: 12px;
}

.adress__link {
  font-style: normal;
  width: 231px;
  line-height: 1.71;
  color: var(--hero-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

.adress__adress {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--adress-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.adress__adress:hover, .adress__adress:focus {
  color: var(--accent-color);
}

.foot-soc {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .foot-soc {
    margin-bottom: 0;
    margin-right: auto;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--hero-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .join__title {
    text-align: left;
  }
}

.join__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.join__item {
  width: 44px;
  height: 44px;
}

.join__internet-link {
  fill: var(--hero-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--hero-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.join__internet-link:hover, .join__internet-link:focus {
  background-color: var(--accent-color);
}

.subscribe__foot-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--hero-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__foot-form-title {
    text-align: left;
  }
}

.subscribe__foot-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe__foot-form {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 12px;
  }
}

.subscribe__foot-input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--background-second-color);
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscribe__foot-input {
    min-width: 450px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__foot-input {
    min-width: 358px;
  }
}

.subscribe__foot-button {
  display: block;
  width: 200px;
  padding: 10px 62px 10px 28px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1200px) {
  .subscribe__foot-button {
    left: 0;
    transform: translateX(0);
  }
}
.subscribe__foot-button:hover, .subscribe__foot-button:focus {
  background-color: var(--button-second-color);
}

.subscribe__icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

.portfolio-galery {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-galery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.galery__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .galery__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .galery__list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.galery__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  background: var(--section-bg);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 25px;
  border-color: transparent;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
@media screen and (min-width: 768px) {
  .galery__btn {
    padding: 6px 22px;
  }
}
.galery__btn:hover, .galery__btn:focus {
  background-color: var(--accent-color);
  color: var(--hero-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__card {
  width: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .portfolio__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}
.portfolio__card-link:hover, .portfolio__card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__top-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5;
  color: var(--hero-color);
  letter-spacing: 0.03em;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--transition-time);
}
.portfolio__card-link:hover .portfolio__top-text, .portfolio__card-link:focus .portfolio__top-text {
  transform: translateY(0);
}

.portfolio__box {
  padding: 20px 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}
@media screen and (min-width: 768px) {
  .portfolio__box {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__box {
    flex-grow: 0;
  }
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-text);
  margin-bottom: 4px;
}

.portfolio__print {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color-text);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms var(--transition-time), visibility 250ms var(--transition-time);
}

.modal {
  width: 95%;
  max-width: 450px;
  height: 95%;
  max-height: 609px;
  overflow: scroll;
  background-color: var(--hero-color);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--transition-time);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
    overflow: visible;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: var(--hero-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}

.modal-close:focus .modal-close-icon,
.modal-close:hover .modal-close-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--main-color-text);
  padding: 11px 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
  outline: transparent;
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  border-color: rgba(33, 33, 33, 0.2);
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
  outline: transparent;
}

.modal-text:focus,
.modal-text:hover {
  border-color: var(--accent-color);
}

.input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-color-text);
  margin-bottom: 4px;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-time);
}

.modal-input-icon:focus,
.modal-input-icon:hover {
  fill: var(--accent-color);
}

.modal-input:focus + .modal-input-icon,
.modal-input:hover + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-commemt {
  margin-bottom: 20px;
}

.modal-agree {
  margin-bottom: 30px;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--sec-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--second-color-text);
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-color);
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.input-check:checked + .custom-check > svg {
  opacity: 1;
}

.user-agreement-link {
  color: var(--accent-color);
}

.check-button {
  margin: 0 auto;
  display: block;
  min-width: 200px;
  padding: 10px 52px;
}

.check-button:focus,
.check-button:hover {
  background-color: var(--button-second-color);
}/*# sourceMappingURL=main.css.map */