.projects.section {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.projects__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(-main-color-text);
  margin-bottom: 50px;
}
.projects__list {
  display: flex;
  gap: 30px;
}
.projects__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.projects__overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
